### RANDOM FORESTS REGRESSOR

In [1]:
# impport libraries
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [8]:
data = pd.read_csv(r'C:\Users\hp\Desktop\New folder\machine-learning-notes\data\insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
# check missing values
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
# encoding 

encoder = LabelEncoder() # init the encoder
categorical_columns = list(data.select_dtypes(include="object").columns)
for col in categorical_columns:
    encoder.fit(data[col])
    data[col] = encoder.transform(data[col])

In [12]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [13]:
# split the data
X = data.drop(columns= ['charges'])
y = data['charges']


# train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25,
                                                    random_state=23)

In [14]:
# scale the dataset.
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
# train the model

model = RandomForestRegressor(n_estimators=10, random_state=23,
                              max_depth=5)
model.fit(X_train, y_train)
train_preds = model.predict(X_train)
test_preds = model.predict(X_test)


train_rmse = root_mean_squared_error(y_train, train_preds)
test_rmse = root_mean_squared_error(y_test, test_preds)

print(f'Train rmse: {train_rmse}')
print(f'Test_rmse: {test_rmse}')

Train rmse: 3994.4709076388526
Test_rmse: 4595.305195129431

### ASSIGNMENT.


Train a randomforest classifier on loan data.